.nav_container div{
  display:inline-block;
  width:50%;
  background-color:#2C3E50;
  height:50px;
  line-height:50px;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
}
.nav_title{
  text-align:left;
  padding-left:5%;
  font-size:17px;
}
.nav_links{
  text-align:right;
  padding-right:5%;
}
.nav_links span{
  font-size:12px;
  margin:4%;
}
.header .container{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#18BC9C;
  width:100vw;
}
.group-wrapper{
  display:block;
}
.projects_title{
  text-align:center;
  font-weight:bold;
  margin:15%;
}
.projects{
  display:flex;
  justify-content:center;
  margin-top:5%;
  text-align:center;
}

.single{
  margin-bottom:5%;
}

.about{
  background-color:#18BC9C;
  margin-bottom:5%;
}
.about .container{
  padding:18%;
}
.about h1{
  text-align:center;
  text-transform:uppercase;
  margin-bottom:15%;
}

.footer h2{
  text-align:center;
  text-transform:uppercase;
}

@media screen and (min-width:768px){

  .about .container{
    padding:5%;
    text-align:center;
  }
  .about p{
    width:40%;
    display:inline-block;
    text-align:left;
    margin-left:5%;
  }
  .about h1{
    text-align:center;
    text-transform:uppercase;
    margin-bottom:5%;
  }

  .header .container{
    height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#18BC9C
  }

  single{
    margin-bottom:5%;

  }


}
